{% load static %}
<!DOCTYPE html>
<html class="has-background-black-ter">
<head>
    <meta charset="utf-8" />
    <title>The Brick Breaker</title>
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<header>
    <div class="has-text-centered">
        <button class="button has-background-grey has-text-primary is-small" onclick="levelOne()">Level One (Easy)</button>
        <button class="button has-background-grey has-text-success is-small" onclick="levelTwo()">Level Two (Medium)</button>
        <button class="button has-background-grey has-text-warning is-small" onclick="levelThree()">Level Three (Hard)</button>
        <button class="button has-background-grey has-text-danger is-small" onclick="levelFour()">Level Four (Expert)</button>
        <button class="button has-background-grey has-text-danger is-small" onclick="levelFive()">Level Four (Impossible)</button>
    </div>

</header>

<body>
<canvas class="has-background-white" id="myCanvas" width="600" height="300"></canvas>
<h1 class="title has-text-centered has-text-white">Instructions:</h1>
<p class="has-text-centered has-text-white">
     Break Every Brick To Win
     <br>Don't Lose :)
     <br>You Only Get a Certain Amount Of Lives Make Them Count
</p>
<div id="modal-js-example" class="modal">
    <div class="modal-background"></div>
  
    <div class="modal-content">
      <div class="box has-background-grey">
        <p class="has-text-centered has-text-danger">You Shouldn't Need Help, You Created The Game</p>
      </div>
    </div>
  
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  
<div id="container" class="has-text-centered">
    <button id="button" class="button has-background-grey is-small" onclick="cheatCode(), listen()">Cheat</button>
</div>
<div class="has-text-centered">
    <button class="button js-modal-trigger has-background-grey is-small" data-target="modal-js-example">
       Need Help?
      </button>
</div>

<div class="box has-background-grey">
    <p>Score Entry</p>
    <form id="score-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ score_form.as_p }}
        <button type="submit" class="save btn btn-seceondary">Submit</button>
    </form>

</div>
</body>
</html>